header {
    background-color: #949494;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}

header h1 {
    color: white;
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    margin: 0;
}
